html, body {
  margin: 0;
  padding: 0;
  background-color: #F9FFFE;
  cursor: crosshair;
}

header {
  display: flex;
  flex-direction: row;
  background-color: #DBF2EF;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
}

.container {
  padding-left: 0.5rem;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.block {
  background-color: #eafeff;
  border-bottom: 1rem;
  border-radius: 5px;
  width: 17rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.Button {
  text-align: center;
  color: #DBF2EF;
  background-color: #026063;
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  width: 17rem;
  margin-right: auto;
  margin-left: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

h1 {
  font-size: 34px;
  font-family: sans-serif;
  font-weight: lighter;
  letter-spacing: 0.05em;
  color: #252525;
}

h2 {
  font-size: 26px;
  font-family: sans-serif;
  margin-top: 8px;
  margin-bottom: 8px;
  float: right;
  margin-right: 6%;
  margin-left: auto;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 13px;
  color: #385C5C;
  padding-bottom: 0.5rem;
}

p {
  font-size: 13px;
  color: #525252;
}

.dropdown {
  position: relative;
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  background-color: #bffdf6;
}

.dropdown:hover .dropdown-content {
  display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: block;
}

a {
  color: #003C3E;
  text-decoration: none;
}

.Names {
  text-align: center;
  margin-top: 0;
  color: #003C3E;
}

.Heads {
  width: 9rem;
  height: 9rem;
}

footer {
  height: auto;
  width: auto;
  background-color: #003C3E;
}

.grid-container-footer {
  display: grid;
  grid-template-columns: auto auto;
  color: #eafeff;
}

.block-footer {
  background-color: #003C3E;
  border-radius: 5px;
  width: 22rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.navBar {
  display: inline;
  font-size: 14px;
  float: left;
}


.navBar a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navBar a:hover {
  background-color: #c2e4df;
}



@media screen and (max-width: 1000px) {
  .grid-container{
    grid-template-columns: auto auto;
  }

  .dropdown {
    display: inline-block;
  }

  h2{
    margin-right: 35%;
  }

  .navBar {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .grid-container{
    grid-template-columns: auto;
  }

  .grid-container-footer {
    grid-template-columns: auto;
  }

  h2 {
    margin-right: 25%;
  }

  .block {
    width: 18rem;
  }
  .block-footer {
    width: 20rem;
  }
}

@media screen and (max-width: 360px) {
  .block-footer {
    width: 18rem;
  }
}